<!DOCTYPE html> 
<html lang = "es">

<head>  
    <meta charset ="UTF-8">

    <meta name = "viewpoint" content="width=device-width,initial-scale=1.0">
     
    <title> Digital House Heroes </title>

    <!--color-->
 <link rel="stylesheet" href="/images/css/style.css"> 

</head>

<body>
     <h1 class="textoCentrado">Tim Berners-Lee</h1>
     <p class="textoCentrado">Londres, Reino Unido, 8 de junio de 1955</p>
    <hr>
    <img src="/images/tim.jpg" alt="" srcset="">
    <h2> 	Informático teórico, físico, programador, profesor universitario, desarrollador web, ingeniero e inventor</h2>
    <p>Es un científico de la computación británico, conocido por ser el padre de la World Wide Web. 
        <br>
         Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. 
<br>
En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.
<br>
Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. 
<br>
 Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform Resource Locator).
</p>
    
</body> 




</html> 