<!DOCTYPE html> 
<html lang = "es">

<head>  
    <meta charset ="UTF-8">

    <meta name = "viewpoint" content="width=device-width,initial-scale=1.0">
     
    <title> Digital House Heroes </title>

    <!--color-->
 <link rel="stylesheet" href="/images/css/style.css">  

</head>

<body>
     <h1 class="textoCentrado">Margaret Hamilton</h1>
     <p class="textoCentrado"> Paoli, Estados Unidos, 17 de agosto de 1936</p>
    <hr>
   <img src="/images/margaret.jpg" alt="" srcset="">
    <h2>Informática teórica, matemática, ingeniera y empresaria </h2>
    <p>Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,1​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo
    <br>
    En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. 
    <br>
     La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.
     <br>
     Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó el mismo respeto que otras disciplinas.
    <br>
    El 22 de noviembre de 2016, Hamilton recibió la Medalla Presidencial de la Libertad, entregada por el expresidente de Estados Unidos Barack Obama, por su trabajo en la NASA durante las misiones Apolo.
</p>
    
</body> 