<!DOCTYPE html> 
<html lang = "es">

<head>  
    <meta charset ="UTF-8">

    <meta name = "viewpoint" content="width=device-width,initial-scale=1.0">
     
    <title> Digital House Heroes </title>

    <!--color-->
  <link rel="stylesheet" href="/images/css/style.css"> 

</head>

<body>
     <h1 class="textoCentrado">Grace Murray Hopper</h1>
     <p class="textoCentrado">Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992</p>
    <hr>
   <img src="/images/grace.jpg" alt="" srcset="">
    <h2>Matemática, oficial naval, informática teórica, profesora de universidad, programadora y física </h2>
    <p> Fue una científica de la computación y militar estadounidense con grado de contraalmirante, pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I.
    <br>
    Entre las décadas de los 50 y 60 desarrolló el primer compilador para un lenguaje de programación así como también propició métodos de validación.
    <br>
    Popularizó la idea de los lenguajes de programación independientes de la máquina, lo que derivó en el desarrollo de COBOL, un lenguaje de alto nivel de programación que aún se utiliza. Era conocida por sus amistades como Amazing Grace.
    <br>
    A lo largo de su vida, recibió numerosos reconocimientos, que incluyen más de 40 doctorados honoris causa, la Medalla Wilbur Lucius Cross de Yale, el rango de capitán en 1973, el de comodoro en 1983 y el de contraalmirante en 1985. 
   <br>
    Única mujer con el grado de almirante de su país. 
    
</p>
    
</body> 