<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalos Site</title>
</head>
<body>
   
</body>
</h1> Digital House Heroes</h1>

<img src="/images/fondo.jpg" alt="" srcset="">

<p> Este sitio busca mostrar de manera simple la información de las Heroínas y Héroes tecnologicos mas representativos del ambito de la programacion</p>

<p>Charles Babbage : <a href="http://localhost:3030/babbage">click aquí</a> 

</p>

<p>Tim Berners - Lee : <a href="http://localhost:3030/berners-lee">click aquí</a>

</p> 

<p>Joan Clarke : <a href="http://localhost:3030/clarke">click aquí</a>

</p>

<p>Margaret Hamilton : <a href="http://localhost:3030/hamilton">click aquí</a>

</p>

<p>Grace Murray Hopper : <a href="http://localhost:3030/hopper">click aquí</a>

</p>

<p>Ada Lovelace : <a href="http://localhost:3030/lovelace">click aquí</a>

</p>

<p>Alan Turing : <a href="http://localhost:3030/turing">click aquí</a>

</p>

</html> 