<!DOCTYPE html> 
<html lang = "es">

<head>  
    <meta charset ="UTF-8">

    <meta name = "viewpoint" content="width=device-width,initial-scale=1.0">
     
    <title> Digital House Heroes </title>

    <!--color-->
   <link rel="stylesheet" href="/images/css/style.css"> 

</head>

<body>
     <h1 class="textoCentrado">Augusta Ada King, condesa de Lovelace</h1>
     <p class="textoCentrado">Londres, 10 de diciembre de 1815, 27 de noviembre de 1852</p>
    <hr>
  <img src="/images/Ada.jpg" alt="" srcset="">
    <h2>Matemática, programadora, poeta, informática teórica, inventora, traductora, escritora e ingeniera.</h2>
    <p> Fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.
    <br>
    Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.
    <br>
    A una edad temprana, su talento matemático la condujo a una relación de amistad prolongada con el matemático inglés Charles Babbage, y concretamente con la obra de Babbage sobre la máquina analítica.
    <br>
     Entre 1842 y 1843, tradujo un artículo del ingeniero militar italiano Luigi Menabrea sobre la máquina, que complementó con un amplio conjunto de notas propias, denominado simplemente Notas. 
    <br>
     Estas notas contienen lo que se considera como el primer programa de ordenador, esto es, un algoritmo codificado para que una máquina lo procese.
</p>
    
</body> 